@function rand() {
  $num: random(11);
  @if ($num <= 5) {
    @return -(random(3));
  }
  @if ($num > 5) {
    @return random(3);
  }
}
article {
  h1 {
    transform: none;
  }
}

h1 {
  transform: rotate(-7deg);
  margin-bottom: 1.5;
  margin-top: 0;
  color: black;
  font-family: "Times New Roman", Times, serif;
  a {
    box-shadow: 2px 4px 3px gray;
    color: black;
    font-family: "Times New Roman", Times, serif;
    font-size: 10;
    text-decoration: none;
    border-color: black;
    border-style: solid;
    padding: 3px 20px;
    border-width: 1px;
  }
}

header {
  h3 {
    margin-top: 2em;
    transform: rotate(rand() + deg);
    color: black;
    font-family: "Times New Roman", Times, serif;
    font-weight: normal;
    text-decoration: none;
  }
}

article {
  h3 {
    margin-top: .2em;
    transform: rotate(rand() + deg);
    color: black;
    font-family: "Times New Roman", Times, serif;
    font-weight: normal;
    text-decoration: none;
  }
}

.blog {
  border-style: solid;
  border-color: lightgrey;
  border-width: .5px;
  padding-left: .5em;
  padding-right: .5em;
}

small{
  color: darkgrey;
}

a {
  box-shadow: 2px 4px 3px gray;
  color: black;
  font-family: "Times New Roman", Times, serif;
  font-size: 10;
  text-decoration: none;
  border-color: black;
  border-style: solid;
  padding: 3px 20px;
  border-width: 1px;
  margin: 1em .5em;
  display: inline-block;
}

footer{
  position: absolute;
  bottom: 1em;
  right: 1em;
}